.lacquerEl {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lacquerGood {
    background-color: green;
}

.lacquerBad {
    background-color: red;
}

footer {
    position: fixed;
    bottom: 0;
}